.KanbanPage {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    position: relative;
    padding-left: 25px;
    &::-webkit-scrollbar {
        width: 6px; /* ширина scrollbar */
        z-index: 11;
    }
    &::-webkit-scrollbar-track {
        background: #2f2f2f; /* цвет дорожки */
        z-index: 11;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #474646; /* цвет плашки */
        border-radius: 20px; /* закругления плашки */
        border: 3px solid #2f2f2f; /* padding вокруг плашки */
        z-index: 11;
    }
}
