.Column {
    min-width: 20% !important;
    width: 20% !important;
    height: fit-content;
    background-color: #2f2f2f;
    border-radius: 15px;
    border: 1px solid #474646;
    margin: 15px;
    display: block;
    align-items: center;
    overflow: hidden;
    h3,
    p {
        color: white;
        text-transform: uppercase;
    }
    &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        height: auto;
        border-bottom: 1px solid #474646;
        background-color: #474646;
        padding: 15px 15px 15px 15px;
        word-break: break-all;
    }
    &__body {
        height: auto;
        background-color: #2f2f2f;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
