* {
    margin: 0;
    padding: 0;
}

html {
    &::-webkit-scrollbar {
        height: 6px; /* ширина scrollbar */
        z-index: 11;
    }
    &::-webkit-scrollbar-track {
        background: #2f2f2f; /* цвет дорожки */
        z-index: 11;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #474646; /* цвет плашки */
        border-radius: 20px; /* закругления плашки */
        border: 3px solid #2f2f2f; /* padding вокруг плашки */
        z-index: 11;
    }
}

body {
    max-height: 100%;
    height: 100%;
    display: block;
}

#root {
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    background-color: #252525;
}
